<!DOCTYPE html>
<html>
  <head lang="en">
    <title>{% block title %}Your Future Awaits{% endblock title %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      {% block content %}
      <h1 class="text-center">Your Future Awaits<small><br>Find software developer positions with <a href="https://jobs.github.com/api">GitHub Jobs</a></h1><br>
        {% set msgs = get_flashed_messages() %}
        {% for msg in msgs %}
          <h4 class="text-danger text-center">{{ msg }}</h4>
        {% else %}
            <br>
        {% endfor %}
      <br>
      <h4 class="text-center">Choose your preference...</h4><br>
      <form action="/job">
        <div class="row">
          <div class="col-lg-4">
            <input type="submit" class="btn btn-primary" name="keyword" value="FRONT END" style="padding:50px;width:100%;">
          </div>
          <div class="col-lg-4">
            <input type="submit" class="btn btn-warning" name="keyword" value="BACK END" style="padding:50px;width:100%;">
          </div>
          <div class="col-lg-4">
            <input type="submit" class="btn btn-danger" name="keyword" value="FULL STACK" style="padding:50px;width:100%;">
          </div>
        </div>
      </form><br><br><br>
      <h4 class="text-center">...or search for whatever you desire:</h4><br>

      <form action="/job">
        <div class="input-group" style="width:30%;margin-left:auto;margin-right:auto">
          <input type="text" class="form-control input-lg" name="keyword" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default btn-lg" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </form>
      {% endblock content %}
    </div>
  </body>
</html>
