{% extends "home.html" %}

{% block title %}
  Your future is here
{% endblock %}

{% block content %}
  <div style="margin-left:10%;margin-right:10%;margin-bottom:5%">
    <h3 class="text-center bg-primary" style="padding:5%;">Your future is here: a job just for you! ({{ lang }})</h3>
    <div class="page-header">
      <h2>
        <small>{{ type }} | {{ location }} | {{ company }}</small><br>
        {{ title }}
      </h2>
    </div>
    {{ description }} <br>
    {{ apply }} <br><br>
    <a href="/">Don't like your job? Find a new one.</a>
  </div>
{% endblock %}
